body {
    background-color: #aed8aa;
    margin:0;
}

div#wrap {
    max-width: 500px;
    width: 100%;
    min-width: 320px;
    margin: 40px auto;
    text-align: center;
}

h1 {
    font-family: Helvetica, Arial, serif;
    font-size: 3em;
}

table#settings {
    border-collapse: collapse;
    margin: 20px auto;
}

table#settings td {
    border-style: solid;
    border-width: 0 1px;
    border-color: #0d670d;
    padding: 10px;
    text-align: center;
}

div#taskListContainer {
    padding: 1px;
}

table#taskList {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

table#taskList td {
    border: 1px solid #0d670d;
    padding: 10px;
    text-align: center;
}

table#taskList div.fileName {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/************************/

input[type="range"][orient="vertical"] {
    -webkit-appearance: slider-vertical; /* WebKit */
    writing-mode: bt-lr; /* IE */
    width: 8px;
    height: 100px;
    padding: 0 5px;
}

input[type="file"] {
	width: 0;
	height: 0;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

input[type="file"] + label {
    font-size: 1.25em;
    font-weight: 700;
    color: #0DAB0D;
    background-color: white;
    border: 2px solid #0DAB0D;
    display: inline-block;
    padding: 10px 10px;
    cursor: pointer;
    line-height: 23px;
    height: 23px;
    width: 200px;
}

input[type="file"].selected + label {
    width: auto;
    max-width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

input[type="file"]:focus + label,
input[type="file"] + label:hover {
    color: white;
    background-color: #0DAB0D;
}

input[type="submit"] {
    font-size: 1em;
    font-weight: 700;
    color: #2E0DAB;
    background-color: white;
    border: 1px solid #2E0DAB;
    padding: 5px 40px;
    cursor: pointer;
}

input[type="submit"]:hover {
    color: white;
    background-color: #2E0DAB;
}